{% load static %}
<header class="container d-flex justify-content-between align-items-center">
    <div class="logo d-flex justify-content-between align-items-center">
        <div class="logo-img m-2">
            <img src="{% static 'img/logo.png' %}" alt="Логотип" width="58" height="72">
        </div>
        <div class="logo-text d-flex flex-column m-2">
            <p class="m-0">
                Городская клиническая больница № 15 им. О.М.Филатова
            </p>
            <p class="m-0">
                Департамент здравоохранения города Москвы
            </p>
        </div>
    </div>
    <div class="menu d-flex flex-row justify-content-between align-items-center">
        <ul class="d-flex align-items-center">
            <li class="header-menu-items">Новость</li>
            <li class="header-menu-items">Пациентам</li>
            <li class="header-menu-items">Доктора</li>
            <li class="header-menu-items">Контакты</li>
            <li class="header-menu-items">О нас</li>
            <li class="header-menu-items">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </li>
        </ul>
    </div>
</header>